* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.regWrapper {
  margin-top: 30px;
  height: 85vh;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.regCard {
  height: 100%;
  margin: 30px 0;
  width: 80vw;
  display: flex;
  flex-direction: column;
  border-radius: var(--12, 12px);
  background: #fff;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.08);
  overflow-y: scroll;
  overflow-x: scroll;
}

.regCard::-webkit-scrollbar {
  display: none;
}

.regTopNav {
  position: fixed;
  display: flex;
  align-items: center;
  min-height: 80px;
  width: 1229px;
  background: #000;
  border-bottom: 1px solid var(--stork-style, #c9c9c9);
  justify-content: space-between;
  padding: 0 60px;
  border-radius: 10px;
}

.regTopNavLeftSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
}

.regTopNavLeftSection h6 {
  color: white;
  text-align: center;
  font-family: Satoshi;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 100% */
}

.regTopNavLeftSection .regTotalReg {
  display: flex;
  padding: 6px var(--12, 12px);
  justify-content: center;
  align-items: center;
  border-radius: var(--16, 16px);
  background: #0a142f;
  color: var(--Default-White, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 90% */
}

.regTopNavRightSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
}

.regTopNavInput {
  display: flex;
  padding: 6px var(--16, 16px);
  align-items: center;
  gap: var(--8, 8px);
  flex: 1 0 0;
  border-radius: var(--48, 48px);
  border: 2px solid var(--Secondary-200, #c9c9c9);
}

.regTopNavBtn {
  display: flex;
  padding: 6px var(--16, 16px);
  align-items: center;
  gap: var(--8, 8px);
  border-radius: var(--48, 48px);
  border: 2px solid var(--Secondary-200, #c9c9c9);
  color: white;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  background: none;
}

.regTopNavDDBtn {
  position: relative;
  display: flex;
  padding: 6px var(--16, 16px);
  align-items: center;
  justify-content: center;
  gap: var(--8, 8px);
  border-radius: var(--48, 48px);
  border: 2px solid var(--Secondary-200, #c9c9c9);
  color: white;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  background: none;
  transition: all 200ms linear;
}

.regTopNavSpan {
  transform: scale(1.3);
}

.regTopNavDD {
  position: absolute;
  top: 35px;
  display: flex;
  flex-direction: column;
  transition: all 200ms linear;
  border: 1px solid black;
}

.regTopNavCDD {
  position: absolute;
  top: 35px;
  left: 100px;
}

.regTopNavDDItem,
.regTopNavCDDItem {
  transition: all 200ms linear;
  display: flex;
  min-width: 100px;
  padding: 6px var(--16, 16px);
  align-items: center;
  justify-content: center;
  gap: var(--8, 8px);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  background: none;
  z-index: 1000;
  background: #000;
  color: white;
}

.regTopNavDDItem:hover,
.regTopNavCDDItem:hover {
  background: rgb(255, 68, 0);
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 5px white;
}

/* Table */

.regTable {
  width: 1483.81px;
  margin-top: 80px;
  padding: 15px 5px;
  border-collapse: collapse;
}

.regTable .regTableTh {
  height: 20%;
  padding: 15px 5px;
  border-bottom: 1px solid var(--Secondary-200, #c9c9c9);
  background: var(--Greyscale-100, #f5f5f5);
}

.regTable tbody {
  height: 80%;
}

.regTable .regTableTd {
  border-bottom: 1px solid var(--Secondary-200, #c9c9c9);
}

.regTable #regTableTdId {
  min-width: 100px;
}

.regTable #regTableTdName {
  min-width: 300px;
}

.regTable #regTableTdEmail {
  min-width: 400px;
}

.regTable #regTableTdPhone {
  min-width: 250px;
}

.regTable #regTableTdGender {
  min-width: 200px;
}

.regTable #regTableTdDate {
  min-width: 150px;
}

.regTable #regTableTdTime {
  min-width: 150px;
}

.regTable #regTableTdDes {
  min-width: 150px;
}

.regTable .regTableTr .regTableTd {
  padding: 10px 25px;
  text-align: center;
}

/* Bottom Navigation */

.regBotNav {
  margin-top: 30px;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  left: 0;
}

.regBotNavRightSec {
  display: flex;
  gap: 20px;
}

.regBotNavPageItem {
  display: flex;
  padding: 6px var(--16, 16px);
  align-items: center;
  gap: var(--8, 8px);
  border-radius: var(--48, 48px);
  border: 2px solid var(--Secondary-200, #c9c9c9);
  color: white;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  background: none;
  cursor: pointer;
}

.regBotNavPageItem a {
  text-decoration: none;
  color: #000;
}

#regBotNavInput {
  display: flex;
  width: 60px;
  padding: 6px 20px;
  align-items: center;
  gap: var(--8, 8px);
  border-radius: var(--48, 48px);
  border: 2px solid var(--Secondary-200, #c9c9c9);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  background: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
