.authCheckWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .authCheckCard {
    margin: 150px 0;
    height: 50vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    border-radius: var(--12, 12px);
    background: #fff;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.08);
  }
  
  .authCheckForm {
      display: flex;
      flex-direction: column;
      gap: 30px;
  }
  
  .authCheckForm input {
    display: flex;
    height: 44px;
    width: 300px;
    padding: 10px 14px;
    align-items: center;
    gap: 8px;
    font-size: 17px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--stork-style, #c9c9c9);
    background: var(--White, #fff);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }
  
  .authCheckSS {
      display: flex;
      justify-content: center;
  }
  
  .authCheckSS button {
      display: flex;
      padding: 10px 35px;
      justify-content: flex-end;
      align-items: flex-end;
      gap: 10px;
      border-radius: 6px;
      background: #0a142f;
      color: #fff;
      text-align: center;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.2px;
      cursor: pointer;
    }
    