* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .authdWrapper {
    margin-top: 30px;
    height: 85vh;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .authdCard {
    height: 100%;
    margin: 30px 0;
    width: 80vw;
    display: flex;
    flex-direction: column;
    border-radius: var(--12, 12px);
    background: #fff;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.08);
    overflow-y: scroll;
    overflow-x: scroll;
  } 
  
  .authCard::-webkit-scrollbar {
    display: none;
  }
  
  .authTopNav {
    position: fixed;
    display: flex;
    align-items: center;
    min-height: 80px;
    width: 1229px;
    background: #000;
    border-bottom: 1px solid var(--stork-style, #c9c9c9);
    justify-content: space-between;
    padding: 0 60px;
    border-radius: 10px;  
  }
  
  .authTopNavLeftSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
  }
  
  .authTopNavLeftSection h6 {
    color: white;
    text-align: center;
    font-family: Satoshi;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 100% */
  }
  
  .authTopNavLeftSection .authTotalauth {
    display: flex;
    padding: 6px var(--12, 12px);
    justify-content: center;
    align-items: center;
    border-radius: var(--16, 16px);
    background: #0a142f;
    color: var(--Default-White, #fff);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 90% */
  }
  
  .authTopNavRightSection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
  }
  
  .authTopNavInput {
    display: flex;
    padding: 6px var(--16, 16px);
    align-items: center;
    gap: var(--8, 8px);
    flex: 1 0 0;
    border-radius: var(--48, 48px);
    border: 2px solid var(--Secondary-200, #c9c9c9);
  }
  
  .authTopNavBtn {
    display: flex;
    padding: 6px var(--16, 16px);
    align-items: center;
    gap: var(--8, 8px);
    border-radius: var(--48, 48px);
    border: 2px solid var(--Secondary-200, #c9c9c9);
    color: white;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    background: none;
  }
  
  .authTopNavDDBtn {
    position: relative;
    display: flex;
    padding: 6px var(--16, 16px);
    align-items: center;
    justify-content: center;
    gap: var(--8, 8px);
    border-radius: var(--48, 48px);
    border: 2px solid var(--Secondary-200, #c9c9c9);
    color: white;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    background: none;
    transition: all 200ms linear;
  }
  
  .authTopNavSpan {
    transform: scale(1.3);
  }
  
  .authTopNavDD {
    position: absolute;
    top: 35px;
    display: flex;
    flex-direction: column;
    transition: all 200ms linear;
    border: 1px solid black;
  }
  
  .authTopNavCDD {
    position: absolute;
    top: 35px;
    left: 100px;
  }
  
  .authTopNavDDItem, .authTopNavCDDItem {
    transition: all 200ms linear;
    display: flex;
    min-width: 100px;
    padding: 6px var(--16, 16px);
    align-items: center;
    justify-content: center;
    gap: var(--8, 8px);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    background: none;
    z-index: 1000;
    background: #000;
    color: white;
  }
  
  .authTopNavDDItem:hover, .authTopNavCDDItem:hover {
    background: rgb(255, 68, 0);
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 5px white;
  }
  
  /* Table */
  
  .authTable {
    width: 1483.810px;
    margin-top: 80px;
    padding: 15px 5px;
    border-collapse: collapse;
  }
  
  .authTable .authTableTh { 
    height: 20%;
    padding: 15px 5px;
    border-bottom: 1px solid var(--Secondary-200, #c9c9c9);
    background: var(--Greyscale-100, #f5f5f5);
  }
  
  .authTable tbody {
    height: 80%;
  }
  
  .authTable .authTableTd {
    border-bottom: 1px solid var(--Secondary-200, #c9c9c9);
  }
  
  .authTable #authTableTdId {
    min-width: 100px;
  }
  
  .authTable #authTableTdName {
    min-width: 300px;
  }
  
  .authTable #authTableTdEmail {
    min-width: 400px;
  }
  
  .authTable #authTableTdPhone {
    min-width: 250px;
  }
  
  .authTable #authTableTdGender {
    min-width: 200px;
  }
  
  .authTable #authTableTdDate {
    min-width: 150px;
  }
  
  .authTable #authTableTdTime {
    min-width: 150px;
  }
  
  .authTable #authTableTdDes {
    min-width: 150px;
  }
  
  .authTable .authTableTr .authTableTd {
    padding: 10px 25px;
    text-align: center;
  }
  
  /* Bottom Navigation */
  
  .authBotNav {
    margin-top: 30px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    left: 0;
  }
  
  .authBotNavRightSec {
    display: flex;
    gap: 20px;
  }
  
  .authBotNavPageItem {
    display: flex;
    padding: 6px var(--16, 16px);
    align-items: center;
    gap: var(--8, 8px);
    border-radius: var(--48, 48px);
    border: 2px solid var(--Secondary-200, #c9c9c9);
    color: white;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    background: none;
    cursor: pointer;
  }
  
  .authBotNavPageItem a {
    text-decoration: none;
    color: #000;
  }
  
  #authBotNavInput {
    display: flex;
    width: 60px;
    padding: 6px 20px;
    align-items: center;
    gap: var(--8, 8px);
    border-radius: var(--48, 48px);
    border: 2px solid var(--Secondary-200, #c9c9c9);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    background: none;
  } 
  
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }