* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.personWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.personCard {
  margin: 30px 0;
  padding: 20px 55px 10px 55px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: var(--12, 12px);
  background: #fff;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.08);
}

.pCardHeading {
  color: var(--main-to, #0a142f);
  font-family: Satoshi;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
}

.pFormInput {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pFormInput label {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.pFormInput input {
  display: flex;
  height: 44px;
  width: 300px;
  padding: 10px 14px;
  align-items: center;
  gap: 8px;
  font-size: 17px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--stork-style, #c9c9c9);
  background: var(--White, #fff);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  transition: all 200ms linear;
}

.pCardForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#eventname {
  display: flex;
  height: 44px;
  padding: 10px 14px;
  align-items: center;
  gap: 8px;
  font-size: 17px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--stork-style, #c9c9c9);
  background: var(--White, #fff);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  transition: all 300ms linear;
}

.pFormfs {
  display: flex;
  gap: 30px;
}

.pFormss {
  display: flex;
  gap: 30px;
}

.pFormRadio {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pFormInputRadio {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.pFormInputRadio label {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.pFormts {
  display: flex;
  gap: 30px;
}

.pFormFs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pFormBtn button {
  display: flex;
  padding: 10px 35px;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
  border-radius: 6px;
  background: #0a142f;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.2px;
  cursor: pointer;
  transition: all 200ms linear;
}

/* Hover */

.pFormInput input:hover, 
.pFormBtn button:hover,
#eventname:hover {
  transform: scale(1.05);
}